.about-hero-wrapper{
    min-height: 60vh;
    background-image:
    linear-gradient(rgba(0,0,0,.55),
    rgba(0,0,0,.55)),
    url("../images/aboutbg.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.about-hero{
    display:flex;
    justify-content:center;
    align-items:center;
    padding: 30px 20px;
}

.about-hero-container{
    max-width: 300px;
    text-align: center;
}

.about-hero span{
    display: block;
    color: #f46c2d;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.about-hero h1{
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 10px;
    color: white;
}

.about-hero p{
    max-width: 600px;
    margin: auto;
    color: white;
    font-size: 16px;
    line-height: 1.4;
}

.about-page-intro{
    background:#fff;
    padding: 20px;
}

.about-intro-container{
    max-width: 400px;
    margin: 0 auto;
}

.about-page-image{
    margin-top: 50px;
}

.about-page-image img{
    width:100%;
    display:block;
    border-radius:10px;
}

.about-page-content{
    margin-top: 35px;
}

.about-page-content span{
    display: block;
    color: #f46c2d;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.about-page-content h2{
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 18px;
}

.about-page-content p{
    font-size: 17px;
    line-height: 1.8;
    color: #666;
    margin-bottom: 20px;
}

.journey-image{
    width: 100%;
    display: block;
    margin-top: 30px;
    border-radius: 10px;
}

.values-section{
    background: #f7f4ef;
    padding: 70px 20px;
}

.values-container{
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.section-tag{
    display: block;
    color: #f46c2d;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.values-section h2{
    font-size: 25px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.values-description{
    max-width: 650px;
    margin: 0 auto 40px;
    color: #666;
    line-height: 1.5;
}

.values-grid{
    display: grid;
    gap: 25px;
}

.value-card{
    background: #fff;
    padding: 40px 25px;
    text-align:center;
}

.value-icon{
    width: 65px;
    height: 65px;
    margin: 0 auto 20px;
    background: #f46c2d;
    color: #fff;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size: 28px;
}

.value-card h3{
    margin-bottom:10px;
    font-size: 20px;
}

.value-card p{
    color: #666;
    line-height: 1.7;
}

.trust-section{
    background-image:
    linear-gradient(rgba(0,0,0,.65),rgba(0,0,0,.65)),
    url("../images/solar-technician.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 20px;
    text-align: center;
}

.trust-overlay{
    max-width: 650px;
    margin: auto;
    color: #fff;
}

.section-tag{
    font-size: 14px;
    margin-bottom: 6px;
}

.trust-overlay h2{
    font-size: 28px;
    margin-bottom: 6px;
}

.trust-overlay p{
    font-size: 15px;
    line-height: 1.4;
    margin-bottom: 35px;
    color: #eee;
}

.trust-badges{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.trust-badges img{
    width: 170px;
}

.customers-section{
    padding: 70px 20px 100px;
    background: #fff;
}

.customers-container{
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.section-title{
    display: block;
    color:#f46c2d;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 6px;
}

.customers-container h2{
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 6px;
}

.customers-container p{
    margin: 0 auto 45px;
    color: #666;
    line-height: 1.5;
}

.customers-image{
    position: relative;
    margin-top: 80px;
}

.customers-image img{
    width: 100%;
    display: block;
    border-radius: 10px;
}

.reviews-box{
    text-align: left;
    position: absolute;
    top: -25px;
    right: 15px;
    background: #f46c2d;
    color: #fff;
    padding: 10px;
    width: 200px;
}

.reviews-box h3{
    font-size: 20px;
}

.reviews-box span{
    font-size: 15px;
    font-weight: 600;
}

.jobs-box{
    text-align: left;
    position: absolute;
    bottom: -25px;
    left: 15px;
    background: #f46c2d;
    color: #fff;
    padding: 10px;
    width: 200px;
}

.jobs-box h3{
    font-size: 20px;
}

.jobs-box span{
    font-size: 15px;
    font-weight: 600;
}

@media (min-width:1024px){

.about-hero-wrapper{
    min-height: 600px;
}

.about-hero{
    display:flex;
    justify-content:center;
    align-items:center;
    height: 40px;
}

.about-hero-container{
    max-width: 800px;
    margin: auto;
}

.about-hero span{
    font-size:18px;
}

.about-hero h1{
    font-size: 55px;
    line-height: 1.1;
    margin: 20px 0;
}

.about-hero p{
    font-size: 22px;
    max-width: 650px;
    margin: 25px auto 0;
    line-height: 1.6;
}

.about-page-intro{
    padding: 100px 20px;
}

.about-intro-container{
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
}

.about-page-image{
    margin-top: 0;
}

.about-page-content{
    margin-top: 0;
}

.about-page-content h2{
    font-size: 50px;
    line-height: 1.1;
    margin: 10px 0 10px;
}

.about-page-content p{
    font-size: 16px;
    line-height: 1.6;
}

.about-page-content img{
    width: 100%;
    display: block;
    margin-top: 30px;
}

.values-section{
    padding: 100px 20px;
}

.values-container{
    max-width: 1200px;
    margin: auto;
}

.values-header{
    max-width: 800px;
    margin: 0 auto 70px;
    text-align: center;
}

.values-container h2{
    font-size: 54px;
    margin: 20px 0 20px;
    line-height: 1.1;
}

.values-container p{
    font-size: 16px;
    line-height: 1.7;
}

.values-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
    margin-top: 20px;
}

.value-card{
    padding: 30px 35px;
}

.trust-section{
    padding: 140px 20px;
}

.trust-overlay{
    max-width: 700px;
    margin: auto;
    text-align: center;
}

.section-tag{
    font-size: 18px;
}

.trust-overlay h2{
    font-size: 58px;
    margin: 20px 0 20px;
    line-height: 1.1;
}

.trust-overlay p{
    font-size: 16px;
    line-height: 1.7;
}

.trust-badges{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 200px;
}

.trust-badges img{
    width: 220px;
    height: auto;
}

.customers-section{
    padding:120px 20px;
}

.customers-container{
    max-width:1200px;
    margin:auto;

    display:grid;
    grid-template-columns:1fr 1fr;
    gap:80px;
    align-items:center;
}

.customers-content{
    text-align:left;
}

.customers-content h2{
    font-size:60px;
    line-height:1.1;
    margin:20px 0 30px;
}

.customers-content p{
    margin:0;
    font-size:20px;
    line-height:1.8;
}

.customers-image{
    position:relative;
    margin-top:0;
}

.customers-image img{
    width:100%;
    border-radius:0;
}

.reviews-box{
    top:-30px;
    right:-30px;
    width:230px;
    padding:20px;
}

.jobs-box{
    bottom:-30px;
    left:-30px;
    width:230px;
    padding:20px;
}
}